body {
    background-color: black; /* ページの背景色を黒に設定 */
    font-family: 'PlemolJP35 Console Medium', sans-serif; /* フォントを指定、代替フォントはsans-serif */
    margin: 0; /* 外側の余白をなくす */
    padding: 0; /* 内側の余白をなくす */
    display: flex; /* フレックスボックスレイアウトを使用 */
    flex-direction: column; /* 子要素を縦方向に配置 */
    align-items: center; /* 子要素を水平方向の中央に配置 */
}

body::-webkit-scrollbar {
    display: none; /* Chrome、Safari、Edge用のスクロールバーを非表示にする */
}

p#dateDisplay {
    font-size: 20px; /* 日付表示のフォントサイズを20ピクセルに設定 */
    color: white; /* 日付の文字色を白に設定 */
    width: 100%; /* 日付表示の幅を親要素の100%に設定 */
    margin: 20px 0; /* 上下に20ピクセルの余白を設定 */
    padding-left: 20px; /* 左側に20ピクセルの内側余白を追加 */
    text-align: left; /* テキストを左揃えに */
}

.icon-container {
    display: flex; /* フレックスボックスレイアウトを使用 */
    flex-direction: column; /* 子要素を縦方向に配置 */
    align-items: center; /* 子要素を水平方向の中央に配置 */
    width: 100%; /* コンテナの幅を親要素の100%に設定 */
    gap: 50px; /* 子要素間に50ピクセルの間隔を設定 */
}

.icon-row {
    display: flex; /* フレックスボックスレイアウトを使用 */
    justify-content: center; /* 子要素を水平方向の中央に配置 */
    width: 100%; /* 行の幅を親要素の100%に設定 */
    gap: 40px; /* アイコン間に40ピクセルの間隔を設定 */
}

a img {
    width: 160px; /* アイコンの幅を160ピクセルに設定 */
    height: auto; /* 高さを自動調整し、アスペクト比を維持 */
    transition: all 0.5s; /* すべてのプロパティの変化に0.5秒のトランジションを適用 */
}

a:hover img {
    transform: scale(1.25); /* ホバー時にアイコンを1.25倍に拡大 */
}
