body {
    background-color: black;
    font-family: 'PlemolJP35 Console Medium', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 中央揃えから左揃えに変更 */
}

body::-webkit-scrollbar {
    display: none;
}

p#dateDisplay {
    font-size: 20px;
    color: white;
    width: 100%;
    margin: 20px 0;
    padding-left: 20px;
    text-align: left;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 中央揃えから左揃えに変更 */
    width: 100%;
    gap: 50px;
    padding-left: 20px; /* 左側に余白を追加 */
}

.icon-row {
    display: flex;
    justify-content: flex-start; /* 中央揃えから左揃えに変更 */
    width: 100%;
    gap: 40px;
}

a img {
    width: 160px;
    height: auto;
    transition: all 0.5s;
}

a:hover img {
    transform: scale(1.20);
}

img, video {
    max-width: 100%;
    height: auto;
}
